body {
    margin: 1em;
}

h2 {
    margin-top: 20px;
}

.warning {
    background-color: red;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: none;
}

.warning > p:last-child { margin-bottom: 0; }

#panelMainButtons {
    margin-top: 20px;
}

#panelDebugTerminal {
    display: none;
}

.buttonSelectSensor {
    margin: 0.5em;
}
